@import '../../../../App.scss';

.arrow-pointed{
    font-size: 20px;
    @include mobile{
        font-size: 15px;
    }

}

.swiper-button-prevHNS {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    top: 45%;
    left: 2%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .30);
    background-color: #fff;
    z-index: 8;
    cursor: pointer;
    transition: .25 ease-in;

    @include mobile {
        height: 40px;
        width: 40px;
    }

}

.swiper-button-prevHNS:hover {
    border: 1px solid #2568ef;
    color: #2568ef;
    transition: .25 ease-in;
}

.swiper-button-nextHNS {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: '';
    top: 45%;
    right: 1.5%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .30);
    background-color: #fff;

    z-index: 8;
    cursor: pointer;
    transition: .25 ease-in;

    @include mobile {
        height: 40px;
        width: 40px;
    }
}

.swiper-button-nextHNS:hover {
    border: 1px solid #2568ef;
    color: #2568ef;
    transition: .25 ease-in;
}

.homeNewsSlider_container {
    margin: 40px 0;


    &_head {
        padding: 0 30px;
    }

    &_swiper {
        padding-left: 10px;
    }

    &_btn {
        text-align: center;
    }
}

.homeNewsSlider_loading {
    padding-top: 200px;
    padding-bottom: 200px;
}