@import '../../../../App.scss';


.RelatedBooksSlider-container {
    &-slider {
        // background-color: red;
        display: flex;
        margin-top: 0px;
        &-slides {
            display: flex;
            padding: 25px 0px;
            // background-color: yellow;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            cursor: pointer;


        }
    }
  

    .swiper-container {
       
        .swiper-slide-active {
            transform: scale(1.1);
            transition: .4s;
        
        }

        .swiper-button-prevRBS {
            opacity: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 40%;
            left: 0px;
            color: #fff;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.3);
            z-index: 8;
            cursor: pointer;

        }
        .swiper-button-prevRBS:hover{
            color: #fff;
            transform: scale(1.5);
            background-color: #48494b;
        }
        .swiper-button-prevRBS::after {
            content: '';
        }

        .swiper-button-nextRBS {
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 40%;
            right: 0px;
            color: #fff;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: rgba(0,0,0,0.3);
            z-index: 8;
            cursor: pointer;
        }
        .swiper-button-nextRBS:hover{
            color: #fff;
            transform: scale(1.5);
            background-color: #48494b;
        }
    
        .swiper-button-nextRBS::after {
            content: '';
        }

        .swiper-slide {
            height: none;
        }
    }
    &:hover{
        .swiper-button-prevRBS{
            opacity: 1;
        }
        .swiper-button-nextRBS{
            opacity: 1;
        }
    }
}
