.DropDownContainer{
   width:180px;
   border: 1px solid #dee2e6;
   color: #8898aa;
   align-items:center;
//    margin-left:10px;
   position: relative;
   border-radius: 5px;
   &-Header{
       height:40px;  
       display:flex;
       justify-content:space-between;
       align-items:center;
       text-transform: capitalize;
      
       cursor:pointer;
       p{
           padding-left:10px
       }
       &-icon{
           margin:0 10px 4px 0;
           transition:.2s linear;
       }
       &-icon1{
           transition:.2s linear;
            margin:4px 10px 0 0 ;
            transform:rotate(180deg);
       }
   }
   &-list::before{
    position:absolute;
    content: '';
    height: 20px;
    width: 20px;
    background:#fff;
    border-radius: 3px;
    transform: rotate(45deg);
    margin: -5px 0 0 150px;
   
   }
   &-list{
       position: absolute;
       left: 10px;
       width:180px;
       display:flex;
       flex-direction:column;
       background-color: #fff;
       box-shadow: 0 50px 100px rgba(50,50,93,.1),0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.1);
       margin-top: 15px;
       border-radius: 5px;
       z-index: 5;
       &-item{
        padding:10px 0 0 10px;
        height:40px;  
        text-transform: capitalize;
        cursor:pointer;
       }
   }
}