@import "../../../App.scss";

.profile-card-with-detail-container {
    // background-color: yellow;
    width: 100%;
    // height: 410px;
    padding: 18px 0px;
    @include flexCenter;

    &-wrapper {
        @include flexColEndCenter;
        // background-color: green;
        position: relative;
        // height: 650px;
        overflow: hidden;
        border-radius: 5px;
        padding: 0px 25px;
        width: 100%;
        // max-width: 370px;
        // box-shadow: 5px 5px 19px rgba(128, 128, 128, 0.3);
    
        &-topic {
            @include flexRowStartEnd;
            padding: 0px 25px;
            margin-top: 19px;
            color: #fba840;
    
            .icon {
                margin: 0px 5px 0px 0px;
            }
    
            p {
                color: #fba840;
            }
        }
    
        &-content {
            @include flexColSeCenter;
            text-align: center;
            // background-color: red;
            margin: 80px 0px 39px 0px;
            padding: 142px 25px 0px 25px;
            // height: 425px;
            border-radius: 8px;
            box-shadow: 5px 5px 19px rgba(128, 128, 128, 0.3);
    
            h5 {
                margin: 25px 0px;
                color: $--primary;
                font-weight: lighter;
                font-size: 22px;
                text-align: center;
                width: 100%;
                // background-color: white;
            }
    
            p {
                color: gray;
                font-weight: lighter;
                line-height: 30px;
                font-size: 18px;
                margin-bottom: 15px
            }
        }
    
        &-picture {
            @include flexRowStartEnd;
            box-shadow: 5px 5px 19px rgba(128, 128, 128, 0.3);
            // background-image: url("../../assets/images/profilebg.png");
            background-size: 100% 100%;
            width: 80%;
            border-radius: 5px;
            height: 220px;
            object-fit: cover;
            position: absolute;
            cursor: pointer;
            top: 0;
            background-color: #f2f2f2;
    
            .text {
                color: white;
                margin: 8px 13px;
                font-weight: lighter;
                cursor: text;
            }
        }
    
        &-footer {
            @include flexRowSbCenter;
            align-self: center;
            // background-color: green;
            height: 70px;
            width: 55%;
            padding: 0px 25px;
    
            &-icon1 {
                color: orange;
            }
    
            &-icon2 {
                color: $--teal;
            }
    
            &-icon3 {
                color: gray;
            }
            .icon:hover{
                transform: translateY(-1px);
                cursor: pointer;
            }
    
        }
    
    }
    
}
