@import '../../../../App.scss'; 
.playlist-slidecard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.8rem;
    margin:10px ;
    align-items: center;
    position: relative;
    border-radius: 12px;
    
    @include mobile{
        width: 100%;
        display: block;
        padding: 15px 10px;
        margin: 10px 0;

    }
    .playlist-rank-number{
        position: absolute;
        top: -10px;
        left: -10px;
        padding: 8px;
        height: 30px;
        font-size: 12px;
        display: flex;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 100%;
        width: 30px;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        font-weight: 600;
        color: $--primary;
    }
    
        .closeIcon{
            position: absolute;
           top: 10px;
           right: 10px;
           height: 20px;
            cursor: pointer;
            color: #8f929e;
            font-size: 20px;
            background: #f9efef;
    border-radius: 100%;
    padding: 4px;
    z-index: 1;
            
        }

    
   
    .card-thumbnails{
        height:120px;
        width: 30%;
        @include mobile{
            height: 90px;
        }
           
        img{
            object-fit: contain;
            height: 120px;
            @include mobile{
                height: 90px;
            }
            border-radius: 5px;
            @include mobile{
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .slide-descriptions{
        padding:10px 0px 10px 10px;
        overflow: hidden;
        // background-color: red;
        @include mobile{
            padding-top: 0px;
            padding-bottom: 0px;
        }
       
        h3{
            padding: 0;
            font-size: 16px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: "----"; 
            white-space: nowrap; 
            width: 200px; 
            overflow: hidden;
            text-overflow: ellipsis;
           
        }
        p{
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: "----"; 
            white-space: nowrap; 
            width: 180px; 
            overflow: hidden;
            text-overflow: ellipsis;
           

        }
        span{
            font-size: 10px;
        }
        .playlist-categoryAndSubCategory-icon{
            transform: translateY(5px);
            font-size: 14px;
            color:$--primary;
            width: 25px;
            height: 25px;
         }
        .user-descriptions{
            display: flex;
            align-items: center;
            padding-top: 10px;
            p{
                padding-left: 10px;
            }
            .user-avatar-name{
                font-size: 12px;
            }
           
        }
    }
    
}