@import '../../../../App.scss';
.swiper-container {
    .swiper-wrapper{
        .swiper-slide{
           
        }
    }

    .swiper-button-prevBs {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        content: '';
        background-color: #ffffff;
        top: 40%;
        left: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgba(0,0,0,.3);
        z-index: 8;
        cursor: pointer;
        transition: .25 ease-in;
        @include tablet{
            height: 40px;
            width: 40px;
     
        
        }
        @include mobile{
   
            height: 40px;
            width: 40px;
     
           
        }
        
    }
    .swiper-button-prevBs:hover{
        border: 1px solid #12D288;
        color: #12D288;
    }

    .swiper-button-nextBs {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #ffffff;
        content: '';
        top: 40%;
        right: 20px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgba(0,0,0,.3);
        z-index: 8;
        cursor: pointer;
        transition: .25 ease-in;
        @include tablet{
            height: 40px;
            width: 40px;
        
        }
        @include mobile{
            height: 40px;
            width: 40px;
        }
    }
    .swiper-button-nextBs:hover{
        border: 1px solid #12D288;
        color: #12D288;
    }

}

.bookSuggestion-container{
    width: 100%;
    &-head{
        padding: 30px 0 0 30px;
       
        @include mobile{
            padding: 25px;
        }
    }
    &-swiper{
        width: 100%;
        // background-color: #1d264f;
        // background-color: rgba(29,38,79,1);
        padding: 60px 0 20px 0;
        @include mobile{
            padding: 0 0 90px 0;
        }
        &-slide{
         display: flex;
         justify-content: center;
         align-items: center;
        }
    }
    .bookSuggestion-container{
        padding:10px 0;
    }
}

.loadingContainerBookSuggestion{
    width: 100%;
    padding: 65px 0;
}
.swiperButtonArrow-bookSuggestion{
    font-size: 20px;
    height: 30px;
    @include mobile{
        font-size: 15px;
        height: 25px;
    }
}
