@import "../../../App.scss";


.featureBlogCard-container{
    @include flexRowCenter;
    padding: 15px 0px;
    &-wrapper {
        background-color: white;
        height: 100%;
        overflow: hidden;
        border-radius: 5px;
        width: 95%;
        box-shadow: 5px 5px 19px rgba(128, 128, 128, 0.3);
  
        &-topic {
            @include flexRowStartEnd;
            padding: 0px 25px;
            margin-top: 19px;
            color: #fba840;
    
            .icon {
                margin: 0px 5px 0px 0px;
            }
    
            p {
                color: #fba840;
            }
        }
    
        &-content {
            margin-bottom: 39px;
            padding: 0px 25px;
    
            h5 {
                margin: 10px 0px;
                color: $--primary;
                font-weight: lighter;
                font-size: 22px;
            }
    
            p {
                color: gray;
                font-weight: lighter;
                line-height: 30px;
                font-size: 18px;
            }
        }
    
        &-picture {
            width: 100%;
            height: 250px;
            object-fit: cover;
            background-color: #f2f2f2;

        }
    
        &-footer {
            @include flexRowSbCenter;
            // background-color: red;
            height: 70px;
            border-top: 1px solid #eeeeee;
            width: 100%;
            padding: 0px 25px;
    
            &-user-info {
                @include flexRowCenter;
                cursor: pointer;
                &-picture {
                    height: 35px;
                    margin-right: 10px;
                }
    
                &-text {
                    p {
                        color: gray
                    }
    
                }
            }
    
            &-button-container {
               display: flex;
               justify-content: flex-start;
               align-items: center;
                 &_para{
                     margin-left: 5px;
                     color: $--primary;
                 }
                 &-icon{
                    color: $--primary;
                   
                 }
                .heart {
                    @include flexRowCenter;
                    color: gray;
    
                    .icon {
                        margin-right: 5px;
                    }
                }
    
                .bag {
                    @include flexRowCenter;
                    color: gray;
    
                    .icon {
                        margin-right: 5px;
                    }
    
                    margin-left: 15px;
                }
            }
        }
    
    }
}

