@import "../../../App.scss";

.navbar-dropdown {
    display: none;
}


.top-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1px 40px 1px 30px;
    background-color: #f0e6e6;

    @include mobile() {
        display: none;
    }

    p {
        font-size: 12px;
    }

    .smalltext {
        font-weight: 400;
        font-size: 14px;
        width: 10%;
        margin-right: 3%;

    }

    .footer-wrapper-top-column1-icons {
        .icons {
            padding: 1px;
            margin: 5px;
            font-size: 18px;
            color: #000;
        }
    }
}

.navbar-container {
    display: flex;
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 10px 0;

    &-scroll {
        background-color: white;
        box-shadow: 2px 5px 15px rgba(128, 128, 128, 0.15);
    }
}

.nav-icon {
    margin-left: 3%;
    margin-top: 0;
    top: 0px;
    padding-top: 0;

    a {
        cursor: pointer;
    }
}

.navbarAll {
    display: flex;
    align-items: center;
    //overflow: hidden;
    // background-color: white;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    // position: relative;
    z-index: 10;
    top: 0;
    @include tablet{
        display: none;
    }

    .logo {
        width: 15%;
        display: flex;
        align-items: center;

        .logoBelowImage{
            margin-left: 30px;
            // margin-right: 10px;
        }
    }

   
    .nav-item {
        width: 57%;
        color: #212529;
        padding:0 24px;
        //border-bottom-left-radius: 30px;
        // background-color: white;
        // padding: 0 20px 0 20px;
    }

    .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // padding: 30px 0px;

        .link {
            @include flexColCenter;
            min-width: 50px;
            position: relative;
            // padding: 0,5px;
            // background-color: red;
            // width: 100%;
            transition: 0.3s all linear;
                
          
            .indicator {
                align-self: center;
                background-color: $--primary;
                width: 0%;
                height: 4px;
                transform: translateY(24px);
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;

                &.active {
                    width: 100%;
                    transition: 0.3s all linear;
                }
            }
           
            .activeindicator{

                min-width: 50px;
                color: $--primary;
                // width: 0;
                text-align: center;
                transition: 0.3s linear;
                &::after{
                    content: '';
                    height: 3px;
                    position: absolute;
                    background-color: $--primary;
                    //  right: 0; 
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -27px;
                    border-top-right-radius: 20px;
                    border-top-left-radius: 20px;
                     width: 100%;
                    animation: indicatorSpring .3s;

                    
                }
               

            }
           
          
        }


        li {
            font-size: 20px;
            font-family: "Nunito", sans-serif;
            width: auto;
            display: flex;
            justify-content: space-between;
           
            align-items: center;
            // padding: 20px 0;

        }

        a {
            text-decoration: none;
            font-family: 'Nunito', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #333;
            line-height: 1.4;
            &:hover{
                color: $--primary;
            }
        }


    }

}

@mixin navItem($width) {
    color: $--primary;
    // box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.6);
    
    position: absolute;
    // top: 0px;
    // left: 0px;
    width: $width;
    //border-bottom-left-radius: 30px;
    background-color: white;
    border-radius: 5px;
    // padding: 0 20px 0 20px;
    transform: translateY(-800px);
    transition: .4s ease-in;

    &-top {
        @include flexRowSbCenter;
        padding: 22px 0px;
        border-bottom: 1px solid lightgray;

        .icon {
            font-size: 35px;
            color: gray
        }
    }
}

@include tablet {
    .navbarALL {
        display: none;
    }
    .navbar-dropdown{
              @include flexRowSbCenter;
        align-items: center;
        background-color: white;
        width: 100%;
        position: sticky;
        z-index: 10;
        top: 0;
        padding: 10px 25px;
        .mobile-logo{
            width: 55px;
            height: 44px;
        }


    }

    // .navbar-dropdown {

    //     @include flexRowSbCenter;
    //     align-items: center;
    //     //overflow: hidden;
    //     background-color: white;
    //     // justify-content: space-around;
    //     width: 100%;
    //     position: sticky;
    //     z-index: 10;
    //     top: 0;
    //     padding: 10px 25px;


    //     .logo {
    //         display: flex;
    //         align-items: center;
    //         // background-color: red;
    //         width: 10%;

    //         img {
    //             // margin-left: 30px;
    //             margin-right: 10px;
    //             width: 171px;
    //             height: 50px  !important;
    //         }

    //     }

    //     .icon {
    //         // color:black;
    //         font-size: 25px;
    //     }

    //     .icon:hover {
    //         cursor: pointer;
    //     }

    //     .nav-item {
    //         @include navItem(96%);

    //         section {
    //             margin-left: 10px;
    //         }
    //     }

    //     .nav-item-show {
    //         @include navItem(96%);
    //         transform: translateY(0px);
    //         transition: .4s ease-in;
    //     }

    //     .nav-link {
    //         @include flexColSbStart;
    //         width: 100%;
    //         padding-top: 15px;

    //         li {
    //             @include flexRowStartCenter;
    //             font-size: 20px;
    //             // background-color: yellow;
    //             font-weight: lighter;
    //             width: 100%;
    //             margin-bottom: 25px;

    //             .icon {
    //                 font-size: 25px;
    //                 margin-right: 10px;
    //             }

    //         }

    //         a {
    //             text-decoration: none;
    //             font-family: 'Nunito', sans-serif;
    //             font-size: 20px;
    //             font-weight: 400;
    //             color: #333;
    //             line-height: 1.4;
    //         }

    //         a:hover {
    //             color: $--primary;
    //         }

    //         .nested-nav-link {
    //             // display: none;
    //             margin-left: 25px;
    //             // transform: translateY(-50px);
    //             height: 0px;
    //             opacity: 0;
    //         }

    //         .nested-nav-link-show {
    //             margin-left: 25px;
    //             // background-color: red;
    //             opacity: 1;
    //             transition: .5s opacity linear;
    //         }

    //     }

    // }
}
.menue-icon {
    // color: $--primary;
    // font-size: 25px;
    margin-left: 10px;
    color: #333333;
    height: 30px;
    // background-color: yellow;
   
}
.icon:hover{
    cursor: pointer;
    
}

@include mobile {

    .navbarAll {
        display: none;
    }
    .navbar-dropdown{
             @include flexRowSbCenter;
        align-items: center;
        background-color: white;
        width: 100%;
        position: sticky;
        z-index: 10;
        top: 0;
        padding: 0px 25px 0 18px;
        .menue-icon {
                    // color: $--primary;
                    // font-size: 25px;
                    margin-left: 10px;
                    margin-top: 5px;
                    color: #333333;
                    height: 31px;
                    // background-color: yellow;
                   
                }
                .mobile-logo{
                    width: 35px;
                    height: 35px;
                }

    }

    // .navbar-dropdown {
    //     @include flexRowSbCenter;
    //     align-items: center;
    //     //overflow: hidden;
    //     background-color: white;
    //     // justify-content: space-around;
    //     width: 100%;
    //     position: sticky;
    //     z-index: 10;
    //     top: 0;
    //     padding: 0px 25px 0 18px;

    //     .logo {
    //         display: flex;
    //         align-items: center;
    //         // background-color: red;
    //         width: 40px;

    //         img {
    //             // margin-left: 30px;
    //             width: 100px;
    //         }

    //     }

    //     .menue-icon {
    //         // color: $--primary;
    //         // font-size: 25px;
    //         margin-left: 10px;
    //         color: #333333;
    //         height: 30px;
    //         // background-color: yellow;
           
    //     }

    //     .icon:hover {
    //         cursor: pointer;
    //     }

    //     .nav-item {
    //         @include navItem(92%);
    //     }

    //     .nav-item-show {
    //         @include navItem(92%);
    //         transform: translateY(0px);
    //         transition: .4s ease-in;
    //     }

    //     .nav-link {
    //         @include flexColSbStart;
    //         // width: 100%;
    //         padding-top: 15px;

    //         li {
    //             @include flexRowStartCenter;
    //             font-size: 20px;
    //             font-weight: lighter;
    //             width: 100%;
    //             margin-bottom: 10px;

    //             .icon {
    //                 font-size: 25px;
    //                 margin-right: 10px;
    //             }

    //         }

    //         li:hover {
    //             // background: red;
    //         }

    //         a {
    //             text-decoration: none;
    //             font-family: 'Nunito', sans-serif;
    //             font-size: 20px;
    //             font-weight: 400;
    //             color: #333;
    //             line-height: 1.4;
    //         }

    //         a:hover {
    //             color: $--primary;
    //         }


    //         .nested-nav-link {
    //             // display: none;
    //             margin-left: 25px;
    //             // transform: translateY(-50px);
    //             height: 0px;
    //             opacity: 0;
    //         }

    //         .nested-nav-link-show {
    //             margin-left: 25px;
    //             opacity: 1;
    //             transition: .5s opacity linear;
    //         }

    //     }

    // }
}

.marquee-container {
    width: 55%;
}

.responsive-uploadSlides {
    text-decoration: none;
    @include flexRowStartCenter;
    width: auto;
    margin-bottom: 20px;
    padding-left: 25px;
    // padding: 10px 0 10px 25px;

    p {
        font-size: 16px;

        text-transform: capitalize;
        padding-left: 10px;
        font-family: 'Nunito', sans-serif;

        font-weight: 400;
        color: #333;
        line-height: 1.4;
        text-decoration: none;
    }

    p:hover {
        color: $--primary;
        cursor: pointer;
    }
}


.login-logout{
    display: flex;
    justify-content: center;
    .responsive-logout {
        border: 1px solid $--primary;
        border-radius: 5px;
        @include flexRowStartCenter;
      
        padding: 10px 10px;
        width: 95%;
        // margin: auto;
        p {
            width: 100%;
            font-size: 16px;
            text-transform: capitalize;
            padding-left: 10px;
            font-family: 'Nunito', sans-serif;
    
            font-weight: 400;
            color: #333;
            line-height: 1.4;
        }
    
        p:hover {
            color: $--primary;
            cursor: pointer;
        }
    }
}

.upload-icon {
    cursor: pointer;
    color: #212529;
    font-size: 18px;
    height: 20px;
}

.upload-icon:hover {
    color: $--primary;
}


.logOut-icon {
    cursor: pointer;
    color: #212529;
    font-size: 18px;
    height: 20px;

    &:hover {
        color: $--primary;
    }
}

.bottomLinks-nav{
    text-decoration: none;
    background-size:cover;

}

.bottomLinks{
    text-decoration: none;

}




.topNavBarSearch-mobileAndTablet {
    width: 100%;
    position: relative;
    // background-color: red;

    @include mobile {
        width: 75%;
        margin-left: auto;
        margin-right: auto;    }

    @media (min-width: 200px) and (max-width: 400px){
          width:70%;
          margin-left: auto;
          margin-right: auto;
      
      
      }
}
.logoAllTop-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    .logoBelowImage{
        width: 179px;
        height: 38px;
    }
}


.navDropdownProfileLinkContainer{
    display: flex;
   flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    text-decoration: none;
    // border-bottom: 0.2px solid $--primary;
    padding: 10px 0 10px 25px;
    .navDropDown-profile-image{
        height:70px;
        width: 70px;
        border-radius: 50%;


    }
    .navDropDown-ProfileLink{
        font-size: 18px;
        text-transform: capitalize;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        color: #333;
        line-height: 1.4;
        margin-top: 10px;
        
    }
    .follower-counts{
        color:gray;
        font-size: 12px;
        font-style: italic;
        .followersicons{
            margin-left: 3px;
            height: 15px;
        }
    }
}


.profile-loading-placeholder{
    width: 50px;
    height: 50px; 
    border-radius: 100%;
    cursor: progress; 
    background: 
  linear-gradient(0.25turn, transparent, #fff, transparent),
  linear-gradient(#eee, #eee),
  radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
  linear-gradient(#eee, rgb(201, 194, 194));
background-repeat: no-repeat;
background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px;
animation: loading 0.5s infinite;

}

@keyframes loading {  
    to {
      background-position: 315px 0, 0 0, 0 290px, 50px 305px;
    }
  }

// drawer

.nav-item-show{
    // padding: 10px;
    .nav-item-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
        padding: 20px;

        .mobile-logo{
            width: 179px;
            height: 38px;
        }
    }
    .nav-link{
        list-style: none;
        margin: 10px 0px;
        width: 100%;
        // padding: 0 15px;
        .inactive{
            width: 100%;
            padding: 10px 0 10px 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #212529;
            font-size: 20px;
            a{
                margin-left: 10px;
                text-decoration: none;
                color: #333;
                font-family: 'Nunito', sans-serif;
                font-weight: 400;
                line-height: 1.4;
                font-size: 16px;
            }
        }
        .ActiveColorNavMobile{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px;
            color: #12d288!important;
            background-color: #e9faf4;
            border-left: 4px solid $--primary;
            padding: 10px 0 10px 21px;
            // transform: scale(1.1);
            p{
                color: #12d288!important;
            }
            a{
                margin-left: 10px;
                text-decoration: none;
                color: #333;
                font-family: 'Nunito', sans-serif;
                font-weight: 400;
                line-height: 1.4;
                font-size: 16px;
            }
           
            
            
        }
        .icon{
            font-size: 16px;
            height: 25px;
        }

    }
}

.topNavigation-drawer-bottom{
    width: 100%;
    // margin-top: 10px;
    padding: 15px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.4;
    a{
        text-decoration: none;
        color: rgb(138, 126, 126);
        font-size: 12px;
    }
}
@keyframes indicatorSpring{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
                    
}
.drawer-wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    transition:  all .4s ease;
    
   .navdrawer-active{
       background-color: #fff;
       height: 100vh;
       max-width: 270px;
       width: 100%;
       transition:  all .4s ease;
   }
    &-active{
        width: 100%;
        background-size: cover;
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.1);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        transition: .3s ease;
        .navdrawer-active{
                display: block;
                position: fixed;
                max-width: 270px;
                width: 100%;
                left: 0;
                background-color: #fff;
                position: fixed;
                height: 100vh;
                top: 0;
                box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.6);
                animation-name: navdrawer;
                animation-duration: .3s;
          
        }

    }

 
}
@keyframes navdrawer{
    0%{
        left:-100%
    }
    100%{
        left: 0%;

    }
}


.logo-images-navbar { 
    width: 55px;
     height: 44px;
     margin-top: 5px;

    @include mobile{
        height: 35px;
        width: 35px;
    }
    }