.SocialButtonlink{
    font-size: 1em;
    margin: 10px;
    border: none;
    background-color: transparent;
    &.facebook{
        color: #3b5999;
    }
    &.twitter{
        color: #1da1f2;
        
    }
    &.instagram{
        color: #e4405f;
        
    }
    &.git{
        color: #222;
        
    }
    &.pintrest{
        color: #bd081c;
      
    }
    &.youtube{
        color: #cd201f;
    }
    &.vimeo{
        color: #1ab7ea;
    }
    &.slack{
        color: #3aaf85;
        
    }
    &.globe{
        color: #ea4c89;
        
    }
    &.reddit{
        color: #ff4500;
        
    }
    &.tumblr{
        color: #35465c;
        
    }
    &.linkedin{
        color: #0077b5;
    }

}
.SocialButtonlink:hover{
    transform: translateY(-1px);
    transition: 0.2s ease;
    opacity: 1;
    cursor: pointer;
}
