@import "../../../App.scss";
.registerModal-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    height: 60vh;
    padding: 20px;
    @include mobile{
        height: auto;
    }
    
    &-container{
        width: 70%;
        display: flex;
        background: #fff;
        box-sizing: border-box;
        box-shadow: 5px 5px 19px rgba(128, 128, 128, 0.3);
        position: relative;
        .exit{
            
           justify-content: flex-end;
           padding: 0 20px 20px 0;
           display: none;
           @include mobile{
            padding: 20px 20px 0;
            display: flex;
           }
        }
        @include tablet{
            width: 90%;
        }
        @include mobile{
            width: 95%;
            display: block;

        }
        
        &-left{
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #d9effb;;
            padding: 20px 10px 40px;
            @include mobile{
                width: 100%;
                background: #fff;
                padding: 20px 20px 0  ;
            }
            &-top{
                padding: 50px 0 0;
                &-logo{
                    display: flex;
                    justify-content: center;
                    padding-bottom: 15px;
                }
                &-heading{
                    text-align: center;
                    p{
                        font-size: 18px;
                        color: #1c263D;
                    }
                    @include mobile{
                        display: none;
                    }
                    &-active{
                        display: none;
                    }
                }
                @include mobile{
                    padding:  0;
                }

            }
            &-bottom{
                &-userImage{
                    align-items: center;
                    padding: 20px 0;
                    &-container{
                        @include flexRowCenter;
                        &-one:hover {
                            z-index: 2;
                        }
                
                        &-two:hover {
                            z-index: 2;
                        }
                
                        &-one {
                            cursor: pointer;
                            border-radius: 100%;
                            height: 50px;
                            width: 50px;
                            position: relative;
                            border: 2px solid white;
                            margin-right: 10px;
                        }
                
                        &-two {
                            cursor: pointer;
                            border-radius: 100%;
                            height: 50px;
                            width: 50px;
                            position: absolute;
                            border: 2px solid white;
                            margin-right: 10px;
                        }
                
                        &-three {
                            cursor: pointer;
                            border-radius: 100%;
                            height: 50px;
                            width: 50px;
                            position: relative;
                            border: 2px solid white;
                        }
                    }
                }
                &-userLogin{
                    align-items: center;
                    text-align: center;
                    .count{
                        display: flex;
                        justify-content: center;
                        color: $--primary;

                        h4{
                            margin-left: 5px;
                        }
                    }
                }

            }

        }
        &-right{
            width: 65%;
            display: flex;
            flex-direction: column;
            padding: 20px 0 0;
            @include mobile{
                width: 100%;
            }

            .exit{
                height: 1%;
               display: flex;
               justify-content: flex-end;
               padding: 0 20px 20px 0;
               @include mobile{
                   display: none;
               }
            }
    
            

            &-main{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 90%;
                padding: 0 125px;
                @include mobile{
                    height: auto;
                    padding: 20px 0;
                }

                &-heading{
                    margin-bottom: 10px;
                    text-align: center;
                    h3{
                        font-weight: 600;
                    }
                    @include mobile{
                        display: none;
                    }
                }
                &-terms{
                    padding: 10px 0 0;
                    text-align: center;
                    a{
                        color: $--primary;
                    }
                }

                &-loginMethod{

                    h5{
                        margin-left: 10px;
                        color: white;
                         font-weight: 300;
                    }
                    &-facebook{
                        background-color: #3b5998;
                        padding: 10px 20px;
                        display: flex;
                        color: white;
                        border-radius: 2px;
                        align-items: center;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;

                        // h5{
                        //     margin-left: 10px;
                        //     color: white;
                        // }
                        margin-bottom: 16px;
                        &:hover{
                            background-color: #0e1f56;
                            
                        }

                    }
                    &-google{
                        background-color: #3674da;
                        padding: 10px 20px;
                        display: flex;
                        color: white;
                        border-radius: 2px;
                        align-items: center;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;

                       
                        margin-bottom: 16px;
                        &:hover{
                            background-color: #104295;
                        }

                    }
                    &-email{
                        cursor: pointer;
                        text-align: center;
                        display: flex;
                        font-size: 18px;
                        justify-content: center;
                        .email-link{
                            padding-left: 10px;
                            color: $--primary;
                        }

                    }
                }

            }
            &-bottom{
                border-top: 1px solid lightgray;
                padding: 20px 0;
                text-align: center;
              &-signup{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  h5{
                      font-weight: 300;
                  }
                  .signup-link{
                      margin-left: 10px;
                      color: $--primary;
                      cursor: pointer;
                      
                  }
                
                 
              }
                

            }

        }
    }

}