$--white: #fff;
$--orange: #fb6340;
$--light: #ced4da;
$--lighter: #e9ecef;
$--primary: #5e72e4;
$--teal: #11cdef;
$--gray-dark: #32325d;
$--danger: #f5365c;
$--dark: #212529;

$mobile-width:200px;
$tablet-width: 768px;
$desktop-width: 1026px;


$--blue: #5e72e4;
$--indigo: #5603ad;
$--purple: #8965e0;
$--pink: #f3a4b5;
$--red: #f5365c;

$--yellow: #ffd600;
$--green: #2dce89;

$--cyan: #2bffc6;
$--gray: #8898aa;



$--secondary: #f4f5f7;
$--success: #2dce89;
$--info: #11cdef;
$--warning: #fb6340;

$--light: #adb5bd;

$--b: #172b4d;

$--neutral: #fff;
$--darker: #000;


