@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flexRowStartCenter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexRowStartEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

@mixin flexRowEndCenter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexRowStartStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexRowSbStart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


@mixin flexRowSeCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@mixin flexRowCenterStart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexRowCenterEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

@mixin flexRowEndCenter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexRowCenterEnd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

@mixin flexRowSbCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@mixin flexRowSbCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flexRowSaStart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
@mixin flexRowSaCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@mixin flexSbCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColStartStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flexColStartCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexColSbCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColSbStart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flexColSaStart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

@mixin flexColCenterStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flexColSeCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}



@mixin flexColEndStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@mixin flexColCenterEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}


@mixin flexColEndCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-small - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-small}) and (max-width: #{$desktop-large - 1px}) {
    @content;
  }
}