@import "../../../../App.scss";

.bookStackCard-wrapper {
    @include flexRowEndCenter;
    //align-items: flex-start;
    width: 310px;
    //height: 280px;
    //padding: 0px 10px;
    // max-width: 325px;
    position: relative;
    // background-color: red;
    //margin-right: 3px;


    &-infoCard {
        @include flexColSaStart;
        align-items: center;
        box-shadow: 0px 7px 20px 0px rgba(184, 183, 189, 0.08);
        background-color: white;
        border-radius: 5px;
        height: 192px;
        width: 280px;
        padding: 10px 15px 10px 95px;

        &-heading {
            font-size: 15px !important;
            color: black !important;
            text-transform: capitalize;
            font-weight: bold;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

        }

        &-p {
            color: gray;
            font-weight: light;
            font-size: 12px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;

            // background-color: red
        }

        &-bottom {
            @include flexRowSbCenter;
            width: 100%;

            &-col1 {
                display: flex;

                &-icon {
                    color: yellow;
                }

                &-heading {
                    font-size: 12px !important;
                    margin-left: 5px;
                    color: black !important;
                    font-weight: bold;
                }
            }

            &-p {
                // text-align: right;
                // background-color: red;
                font-size: 12px !important;
                // padding-right: 20px;
                color: rgba(0, 0, 0, .4) !important;
            }
        }

    }

    &-bookCoverCard {
        position: absolute;
        z-index: 5;
        left: 0;

        img {
            height: 150px;
            width: 111px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
            border-radius: 8px;
        }
    }
}