// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
@import '../../../../App.scss';

.newsIntroductionCard-wrapper{
    width: 100%;
    background-color: #f7f7f7;
    padding: 50px 40px 50px 40px;
    display: flex;
    @include tablet{
        margin-top: 20px;

    }
    @include mobile{
        margin-top: 20px;
    }
    &-description{
        &-head{
            font-size: 17px;
            font-family: 'Nunito';
            font-weight: 800;
            color: #0f0e0e;
            &-img{
                height: 60px;
                width: 60px;
                // border-radius: 50%;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                float: right;
            }

        }
        &-para{
            font-family: 'Nunito';
            font-size: 15px;
            color: #333;
            line-height: 1.75;
            margin: 10px 0;
        }
        &-btn{
            font-family: 'Nunito';
            font-weight: 600;
            font-size: 16px;
            padding: 13px 30px;
            border: none;
            border-radius: 5px;
            color: rgb(201, 188, 188);
            background-color: $--primary;
            cursor: pointer;
            transition: .25s;
            p{
                text-decoration: none;
                color: #fff;
            }
        }
        &-btn:hover{
            background-color: #48494b;
            transition: .25s;
        }
    }
}