@import "../../../../App.scss";

.swiper-container {
    .swiper-wrapper {
        .swiper-slide {}
    }
    .slide-category-arrow{
        height:25px;
    }

    .swiper-button-prevCs {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        content: '';
        top: 3px;
        right: 60px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
        z-index: 8;
        cursor: pointer;
        transition: .25 ease-in;

    }

    .swiper-button-prevCs:hover {
        background-color: rgba(0, 0, 0, .2);
        transition: .25 ease-in;
    }

    .swiper-button-nextCs {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        content: '';
        top: 3px;
        right: 5px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
        z-index: 8;
        cursor: pointer;
        transition: .25 ease-in;
    }

    .swiper-button-nextCs:hover {
        background-color: rgba(0, 0, 0, .2);
        transition: .25 ease-in;
    }

}

.categorized-slide {
    @include flexRowCenter;
    background-color: #F4F4F4;
    padding: 25px 0px;
    // height: 500px;
    width: 100%;

    @include mobile {}

    &-container {
        @include flexColCenter;
        // background-color: red;
        // height: 500px;
        width: 80%;

        @include mobile {
            width: 90%;
        }

        &-top {
            @include flexRowSbCenter;
            width: 100%;

            @include mobile {
                flex-direction: column;
                padding-top: 10px
            }

            &-head {
                @include mobile {
                    width: 91%;
                }
            }

            .button {
                @include flexRowCenter;
                background-color: white;
                border: 1px solid lightgray;

                .icon {
                    color: gray;
                    margin-left: 10px;
                }
            }

            .button:hover {
                border: 1px solid $--primary;
            }
        }

        &-swiper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 50px 0 20px 0;

            &-slide {
                width: 100%;
                padding: 25px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.loading-container {
    // background-color: red;
    margin: 100px 0px;
    width: 100%;
}

@include tablet {
    .categorized-slide {
        &-container {
            width: 90%;
        }
    }
}
.arrowicon{
    height: 25px;
}