@import '../../../../App.scss';

.swiper-button-prevHAS {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    top: 37%;
    left: 2%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    // background-color: red;
    // box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .30);
    background-color: #fff;
    z-index: 8;
    cursor: pointer;
    transition: .25 ease-in;

    @include mobile {
        height: 40px;
        width: 40px;
    }

}

.swiper-button-prevHAS:hover {
    // background-color: rgba(0,0,0,.1);
    border: 1px solid #2568ef;
    color: #2568ef;
    transition: .25 ease-in;
}

.swiper-button-nextHAS {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: '';
    top: 37%;
    right: 2%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    // box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .30);
    background-color: #fff;

    z-index: 8;
    cursor: pointer;
    transition: .25 ease-in;

    @include mobile {
        height: 40px;
        width: 40px;
    }
}

.swiper-button-nextHAS:hover {
    // background-color: rgba(0,0,0,.1);
    // border: 1px solid #7d2ae8;
    // color: #7d2ae8;
    border: 1px solid #2568ef;
    color: #2568ef;
    transition: .25 ease-in;
}

.homeArticleSlider_container {
    margin: 40px 0;

    @include mobile {
        margin: 60px 0;
    }

    &_head {
        padding: 0 30px;
    }

    &_swiper {
        padding: 0 15px;

        &_slide {}
    }
}

.homeArticleSlider_loading {
    padding-top: 200px;
    padding-bottom: 200px;
}