@import '../../../../App.scss';
.topSearch-container{
  height:300px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position:center ;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0.3);
background-blend-mode: saturation;
    
    &-heading{
       color: #fff;
       text-align: center;
       @include mobile{
           font-size: 28px;
       }
    }
    &-para{
        color: #fff;
        margin: 20px 0;
        text-align: center;
        @include mobile{
            padding: 0 20px;
        }
    }
   
}