@import '../../../../App.scss';

  
.commentComponent-container {
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2);
    border-radius: 5px;
    padding: 20px 10px;
    
    
    &-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-col1 {
            width: 5%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @include mobile{
                width: 15%;
            }

            &-profile {
                height: 40px;
                width: 40px;
                border-radius: 50%;

            }


        }

        &-desc {
            width: 95%;
            display: flex;
            flex-direction: column;
            @include mobile{
                width: 85%;
            }

            &-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                // background-color: red;
                &-time {
                    color: gray;
                    padding: 0 10px;
                    font-size: 12px;
                    @include mobile{
                        width: 50%;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                }
    
                &-name {
                    color: $--primary;
                    padding-left: 10px;
                    font-size: 14px;
                }
            }

           &-bottom{
               width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 5px 10px;
                &-editInput{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    textArea{
                        border: 1px solid #dee0e1;
                        border-radius: 5px;
                       padding: 10px 10px;
                       resize: none;
                       overflow: hidden;

                        &:focus{
                            outline: none;
                        }
                    }
                   
                    &-btn{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin-top: 10px;
                        &-update{
                            margin-left: 10px;
                            padding: 10px 20px;
                            border-radius: 40px;
                            cursor: pointer;
                            border: none;
                            background-color: $--primary;
                            color: #fff;

                        }
                        &-cancel{
                            padding: 10px 20px;
                            border-radius: 40px;
                            border: none;
                            cursor: pointer;
                            color: gray;
                        }
                    }
                }
                &-comment {
                    color: #4f5152;
                   
                }
              &-options{
                margin-top: 5px;
                width: 100%;
                display:flex;
                justify-content: flex-end;
                  &-icon{
                    font-size: 25px;
                    cursor: pointer;
                    color: gray;
                    height: 25px;
                  }

                 
                &-editAndDelete{
                    display: flex;
                    flex-direction: column;
                    opacity: 0;
                    position: absolute;
                    transform: translate(7px,33px);
                    transition: .2s ease opacity;
                    width: 130px;
                    background-color:#fff;
                    box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
                   
                    z-index: -12;
                    border-radius: 5px;
                    &::before {
                        position: absolute;
                        content: '';
                        right: 0;
                        height: 20px;
                        width: 20px;
                        background: #fff;
                        border-radius: 3px;
                        transform: rotate(45deg);
                        margin: -9px 10px 0 15px;
                    }
                    &-edit{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 10px;
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.09, 1.1);
                            box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
                            background-color: #fff;
                            border-radius: 5px;
                        }
                        &-icon{
                            margin-right: 8px;
                            font-size: 20px;
                            cursor: pointer;
                            color: gray;
                            height: 25px;
                          }
                          &-text{

                          }
                    }
                   
                    &-delete{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 10px;
                        cursor: pointer;
                       
                        &-icon{
                            font-size: 20px;
                            color: gray;
                            margin-right: 8px;
                            height: 25px;
                        }
                        &-text{

                        }
                        &:hover{
                            transform: scale(1.09, 1.1);
                            box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
                            background-color: #fff;
                            border-radius: 5px;
                        }
                        
                    }
                   
                }
                &-editAndDelete-active{
                    opacity: 1;
                    transition: .2s ease opacity;
                    z-index: 12;
                  }
              }

                &-edit{
                    width: 100%;
                    input{
                        width: 100%;
                        padding: 10px;
                        color: #000;
                        font-size: 16px;
                        line-height: 23px;
                        margin: 10px 0px;
                        font-weight: normal;
                        border-radius: 5px;
                        border: .5px solid gray;
                    }
                    &-btn{
                        color: $--primary;
                        background-color: #fff;
                        border: 1px solid $--primary;
                        padding:6px 15px;
                        border-radius: 5px;
                        text-transform: capitalize;
                        cursor: pointer;
                        letter-spacing: 1px;
                        &:hover{
                            color: #fff;
                            background-color: $--primary;
                        }
                    }
                }
           }

           

        }

    }
   

}

.commentComponent-head {
    font-weight: 600;

}

.wholeCommentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.slideDetailsComment-review-section{
    border:   0.5px dotted $--primary;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    border-radius: 9px;
    padding:3% 5%;
    align-items: center;
    background-color: #fffdfd;
    margin-top: 15px;
    p{
        font-size: 22px;
        @include mobile{
            font-size: 14px;
        }
    }

}
.slideComments-load-more-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}