.topContent-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    .topContent-card{
       max-width: 80%;
       width: 100%;

    }

}