@import '../../../../App.scss';
@import '../../../../components/global/placeholder/placeholder';
.newsRecentPlaceholder-wrapper{
    width: 100%;
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
    h3{
        height: 8px;
        margin: 20px 0;
        background-color: #f0f0f0;
    }
    
    @include tablet{
        flex-direction: column;
    }
    @include mobile{
        flex-direction: column;
    }
   
    &-left{
        position: relative;
        height: 450px;
        width: 50%;
        border-radius: 5px;
        background-color: #f0f0f0;
       
        @include tablet{
            width: 100%;
        }
        @include mobile{
            width: 100%;
            height:300px;

        }
        
       
    }
    &-right{
         //padding-left: 80px;
         width: 45%;
         position: relative;
        
         @include tablet{
            width: 100%;
            padding:40px 0 0 0;
        }
        @include mobile{
            width: 100%;
            padding:40px 0 0 0;
        }
        &-head{
            font-family: 'Nunito';
            border-bottom: 1px solid #e0dede;
            color: #0f0e0e;
            font-weight: 800;
            font-size: 30px;
           padding-bottom: 20px;
        }
        &-description{
            height: 80px;
            &-wrapper{
               margin: 25px 0 20px 0;
                &-head{
                    height: 8px;
         background-color: #f6f7f8;
                    margin-bottom: 10px;
                    width: 80%;
                   
                }
            }
          

        }


    }
   

}

