@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    margin: auto;
    max-width: 1920px;
    width: 100%;
 }

 

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:'Nunito';
    font-weight: 800;
    color: #333333;

}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul {
    font-family: 'Nunito',;
    font-size: 18px;
    font-weight: 500;

}
li{
    font-family: 'Nunito',;
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

span{

    font-family:'Nunito', ;
    font-size: 17px;
    font-weight: 500;
    color: #333333;

}

p,label{
    font-family: 'Nunito',sans-serif;
    font-size: 15px;
     font-weight: 400;
    color: #333;
    line-height: 1.4;
} 
button {
    font-family:'Nunito' ,'Roboto';
    font-weight: 800;
    font-size: 15px;
}