@import '../../App.scss';


.socialShareForMObile-container{
    display: none;
}
@include mobile{
    .socialShareForMObile-container{
        left: 0;
        bottom: 0;
        position: fixed;
        box-shadow: 2px 2px 25px 15px rgba(128 ,128, 128,  0.2);
        width: 100%;
        background-color: white;
        overflow: hidden;
        opacity: 1;
        z-index: 1000;
        height: 0;
        transition:all 0.25s linear;
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    .social-active{
       
        height: auto;
        transition:all 0.25s linear;
        background-color: #ffffff;
       
    }
}
.socialShareForMObile-container-para{
    width: 36%;
    text-align: center;
    
}
.shareBtnFB{
    width: 16%;
    background-color: rgb(33, 150, 243);
    padding: 10px 0;
  
    &-icon{
      color: #fff;
      height: 30px;
    }
}
.shareBtnM{
    width: 16%;
    background-color: #40c0f2;
    padding: 10px 0;

    &-icon{
        color: #fff;
        height: 30px;
      }
}
.shareBtnTW{
    width: 16%;
    background-color: #0088cc;
    padding: 10px 0;
    &-icon{
        color: #fff;
        height: 30px;
      }
}
.shareBtnE{
    width: 16%;
    background-color: red;
    padding: 10px 0;
  
    &-icon{
        color: #fff;
        height: 30px;
      }
    
}