@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1920px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Nunito', 'Montserrat',sans-serif;
  font-weight: 800;
  color: #333333;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  font-family: 'Rubik','Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

li {
  font-family: 'Rubik','Alegreya Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

span {
  font-family: 'Rubik', 'Alegreya Sans', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #333333;
}

p, label {
  font-family: 'Rubik',sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  line-height: 1.4;
}

button {
  font-family: 'Nunito' ,'Roboto', sans-serif;
  font-weight: 800;
  font-size: 15px;
}

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 110px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 18px 0px;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .pagination-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 60px 100px 120px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .pagination-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 20px;
  }
}

.pagination-wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  border-radius: 5px;
}

.pagination-wrapper-container-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.pagination-wrapper-container-p {
  color: gray;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-icon {
  color: gray;
}

.pagination-wrapper-container-button-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0px 4px;
  height: 45px;
  width: 45px;
  border: 0.1px solid lightgray;
  border-radius: 50%;
}

.pagination-wrapper-container-button-circle:hover {
  background-color: lightgray;
}

.pagination-wrapper-container-button-circle-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: blue;
}

.pagination-wrapper-container-button-circle-active-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #12D288;
}

.pagination-wrapper-container-button-circle-active-primary-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #f5365c;
}

.pagination-wrapper-container-button-circle-active-danger-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #212529;
}

.pagination-wrapper-container-button-circle-active-dark-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #adb5bd;
}

.pagination-wrapper-container-button-circle-active-light-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-lighter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #e9ecef;
}

.pagination-wrapper-container-button-circle-active-lighter-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-teal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #11cdef;
}

.pagination-wrapper-container-button-circle-active-teal-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-gray-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #32325d;
}

.pagination-wrapper-container-button-circle-active-gray-dark-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #fff;
}

.pagination-wrapper-container-button-circle-active-white-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.pagination-wrapper-container-button-circle-active-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  height: 47px;
  width: 47px;
  border-radius: 500px;
  background-color: #32325d;
}

.pagination-wrapper-container-button-circle-active-orange-p {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

.progressBar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 110px;
  display: flex;
  padding: 18px 0px;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .progressBar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 60px 100px 120px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .progressBar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 20px;
  }
}

.progressBar-wrapper-label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 15px 0px;
}

.progressBar-wrapper-label-container-text {
  color: #12D288;
}

.progressBar-wrapper-label-container-text-primary {
  color: #12D288;
}

.progressBar-wrapper-label-container-text-danger {
  color: #f5365c;
}

.progressBar-wrapper-label-container-text-dark {
  color: #212529;
}

.progressBar-wrapper-label-container-text-light {
  color: #adb5bd;
}

.progressBar-wrapper-label-container-text-lighter {
  color: #e9ecef;
}

.progressBar-wrapper-label-container-text-teal {
  color: #11cdef;
}

.progressBar-wrapper-label-container-text-gray-dark {
  color: #32325d;
}

.progressBar-wrapper-label-container-text-white {
  color: #fff;
}

.progressBar-wrapper-label-container-text-orange {
  color: #32325d;
}

.progressBar-wrapper-indicator {
  background-color: #e5e5e5;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active {
  background-color: #12D288;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-primary {
  background-color: #12D288;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-danger {
  background-color: #f5365c;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-dark {
  background-color: #212529;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-light {
  background-color: #adb5bd;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-lighter {
  background-color: #e9ecef;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-teal {
  background-color: #11cdef;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-gray-dark {
  background-color: #32325d;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-white {
  background-color: #fff;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.progressBar-wrapper-indicator-active-orange {
  background-color: #32325d;
  border-radius: 15px;
  height: 15px;
  width: 50%;
}

.tab-wrapper-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  display: flex;
  padding: 18px 0px;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .tab-wrapper-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 60px 100px 120px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .tab-wrapper-vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 20px;
  }
}

.tab-wrapper-vertical-content-container {
  width: 50%;
}

.tab-wrapper-vertical-label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin: 0px 15px;
}

.tab-wrapper-vertical-label-container-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-text {
  color: #12D288;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-primary {
  color: #12D288;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-danger {
  color: #f5365c;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-dark {
  color: #212529;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-light {
  color: #adb5bd;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-lighter {
  color: #e9ecef;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-teal {
  color: #11cdef;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-gray-dark {
  color: #32325d;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-white {
  color: #fff;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-text-orange {
  color: #32325d;
  font-size: 23px;
}

.tab-wrapper-vertical-label-container-button-active-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #12D288;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5365c;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #212529;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #adb5bd;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-lighter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e9ecef;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-teal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #11cdef;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-gray-dark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #32325d;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-vertical-label-container-button-active-orange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #32325d;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 0px 21px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 110px;
  display: flex;
  padding: 18px 0px;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .tab-wrapper-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 60px 100px 120px;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .tab-wrapper-horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 100px 20px;
  }
}

.tab-wrapper-horizontal-content-container {
  width: 50%;
}

.tab-wrapper-horizontal-label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 15px 0px;
}

.tab-wrapper-horizontal-label-container-button {
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-text {
  color: #12D288;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-primary {
  color: #12D288;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-danger {
  color: #f5365c;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-dark {
  color: #212529;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-light {
  color: #adb5bd;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-lighter {
  color: #e9ecef;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-teal {
  color: #11cdef;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-gray-dark {
  color: #32325d;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-white {
  color: #fff;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-text-orange {
  color: #32325d;
  font-size: 23px;
}

.tab-wrapper-horizontal-label-container-button-active-primary {
  background-color: #12D288;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-danger {
  background-color: #f5365c;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-dark {
  background-color: #212529;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-light {
  background-color: #adb5bd;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-lighter {
  background-color: #e9ecef;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-teal {
  background-color: #11cdef;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-gray-dark {
  background-color: #32325d;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-white {
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.tab-wrapper-horizontal-label-container-button-active-orange {
  background-color: #32325d;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  margin: 0px 21px 0px 0px;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}

.slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.slide-container-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  margin: 15px 0px;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider-thumb-default::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}

.slider-thumb-primary::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #12D288;
  cursor: pointer;
}

.slider-thumb-danger::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f5365c;
  cursor: pointer;
}

.slider-thumb-dark::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #212529;
  cursor: pointer;
}

.slider-thumb-light::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #adb5bd;
  cursor: pointer;
}

.slider-thumb-lighter::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #e9ecef;
  cursor: pointer;
}

.slider-thumb-teal::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #11cdef;
  cursor: pointer;
}

.slider-thumb-gray-dark::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #32325d;
  cursor: pointer;
}

.slider-thumb-white::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.slider-thumb-orange::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #32325d;
  cursor: pointer;
}

.slider-progress-default::-moz-range-progress {
  background-color: gray;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-primary::-moz-range-progress {
  background-color: #12D288;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-danger::-moz-range-progress {
  background-color: #f5365c;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-dark::-moz-range-progress {
  background-color: #212529;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-light::-moz-range-progress {
  background-color: #adb5bd;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-lighter::-moz-range-progress {
  background-color: #e9ecef;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-teal::-moz-range-progress {
  background-color: #11cdef;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-gray-dark::-moz-range-progress {
  background-color: #32325d;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-white::-moz-range-progress {
  background-color: #fff;
  width: 25px;
  height: 15px;
  border-radius: 5px;
}

.slider-progress-orange::-moz-range-progress {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #32325d;
  cursor: pointer;
}

.main-container {
  width: 100%;
}

.book-detail-loading-wrapper {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 20px;
}

.book-detail-page {
  height: 100%;
  width: 100%;
}

.book-detail-page-wrapper-book-detail-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D264F;
  height: 100%;
  width: 100%;
  max-height: 563px;
}

.book-detail-page-wrapper-book-detail-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 65px 0px;
  width: 60%;
  height: 100%;
}

.book-detail-page-wrapper-book-detail-section-container img {
  width: 300px;
  margin-right: 65px;
}

.book-detail-page-wrapper-book-detail-section-container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  height: 385px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-title-section .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-title-section .icon {
  font-size: 35px;
  color: white;
  width: auto;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-title-section .share {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-title-section .share .icon {
  font-size: 21px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-title-section h4 {
  color: white;
  font-weight: bold;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-rating-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-rating-section .star-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24%;
  color: yellow;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-rating-section .star-container .icon {
  font-size: 45px;
  width: auto;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-rating-section .star-container h6 {
  margin-left: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-rating-section .views {
  width: 70%;
  text-align: left;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-rating-section .views p {
  width: auto;
  color: #c4c4c4;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-summary-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 15px 0px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-summary-section h6 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-summary-section .summary {
  width: 70%;
  text-align: left;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-summary-section .summary p {
  color: #c4c4c4;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-author-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 15px 0px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-author-section h6 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-author-section .summary {
  width: 70%;
  text-align: left;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-author-section .summary p {
  color: #c4c4c4;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.book-detail-page-wrapper-book-detail-section-container-content .book-button-container .right-button {
  margin-left: 15px;
}

.book-detail-page-wrapper-book-explore-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.book-detail-page-wrapper-book-explore-section .book-review-section {
  width: 50%;
  padding: 15px 19px;
}

.book-detail-page-wrapper-book-explore-section .related-book-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  width: 50%;
  border-left: 0.5px solid lightgray;
}

.book-detail-page-wrapper-book-explore-section .related-book-section .book-slider {
  width: 80%;
}

@media (min-width: 768px) and (max-width: 1025px) {
  .book-detail-page {
    height: 100%;
    width: 100%;
  }
  .book-detail-page-wrapper-book-detail-section-container {
    width: 100%;
  }
  .book-detail-page-wrapper-book-detail-section-container img {
    width: 250px;
    margin-right: 25px;
  }
  .book-detail-page-wrapper-book-explore-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .book-detail-page-wrapper-book-explore-section .book-review-section {
    width: 100%;
  }
  .book-detail-page-wrapper-book-explore-section .related-book-section {
    width: 100%;
  }
}

@media (min-width: 200px) and (max-width: 767px) {
  .book-detail-page {
    height: 100%;
    width: 100%;
  }
  .book-detail-page-wrapper-book-detail-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-height: none;
  }
  .book-detail-page-wrapper-book-detail-section-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .book-detail-page-wrapper-book-detail-section-container img {
    width: 250px;
    margin: 0px;
  }
  .book-detail-page-wrapper-book-detail-section-container-content {
    width: 90%;
    margin-top: 35px;
  }
  .book-detail-page-wrapper-book-explore-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .book-detail-page-wrapper-book-explore-section .book-review-section {
    width: 100%;
  }
  .book-detail-page-wrapper-book-explore-section .related-book-section {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */