@import "../../App.scss";
.book-detail-loading-wrapper{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    // background-color: red;
    margin-bottom: 20px;
}

.book-detail-page {
    height: 100%;
    width: 100%;

    &-wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        .showrequestmodal{
            width: 100%;
            height: 100%;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            // transform: translate(-50%,-50%);
            background-size: cover;
            background-blend-mode: overlay;
            background-color: rgba(0,0,0,0.1);
            z-index: 5;
            &-displaynone{
                display: none;
            }
        }
        // background-color: red;
        &-book-detail-section {
            @include flexRowCenter;
            // background-color: #3b4750;
            height: 100%;
            width: 100%;
          
            // max-height: 563px;
           

            &-container {
                @include flexRowCenter;
                padding: 65px 0px;
                // background-color: yellow;
                width: 80%;
                height: 100%;
                .backgroundRound{
                    height: 410px;
                width: 410px;
                border-radius: 50%;
                background-color: #e8e9ec;
                position: relative;
                margin-right: 65px;
                @include mobile{
                    margin: 0;
                border-radius: 50%;

                    height: 270px;
                    width: 270px;

                    
                   
                }
                .bookImage {
                    width: 310px;
                    height: 430px;
                    border-radius: 15px;
                    position: absolute;
                     top: -20px;
                    left: 50px;
                    
                    filter: drop-shadow(20px 12px 10px #d9dce0);

                
                    @include mobile{
                        width: 200px;
                        height: 280px;
                        left: 35px;

                    }
                    @media  (min-width:768px ) and ( max-width:769px)   {
                        left: 20px;

}
                }
                @media  (min-width:768px ) and ( max-width:769px)   {
                    width: 354px;
                    margin-right: 0;

}
                }

               

                &-content {
                    @include flexColEndStart;
                    // background-color: black;
                    width: 50%;
                   

                    .book-title-section {
                        @include flexRowSbCenter;
                        margin-bottom: 5px;
                        // background-color: white;
                        width: 100%;
                        @include mobile{
                            flex-direction: column;
                            align-items: flex-start
                        }

                        .book-title{
                            width: 70%;
                            @include tablet{
                                width: 65%;
                            }
                            @include mobile{
                                width: 100%;
                            }
                        }
                        .icon-container {
                            width: 30%;
                            @include flexRowCenter;
                            @include tablet{
                                width: 30%;
                            }
                            @include mobile{
                                margin: 10px 0;
                                width: 40%;
                                justify-content: flex-start;
                            }
                        }

                        .icon {
                            // font-size: 32px;
                            // color: white;
                            color:#b3b3bc ;
                            width: auto;
                            cursor: pointer;
                            height: 35px;
                            // background-color: white;
                        }

                        .share {
                            position: relative;
                            @include flexRowCenter;
                            // color: white;
                            border-radius: 50%;
                            border: 2px solid #b3b3bc;
                            width: 30px;
                            height: 30px;
                            margin-right: 10px;

                            .icon {
                                font-size: 18px;
                                height: 22px;
                                color:#b3b3bc ;

                            }
                        }

                        h4 {
                            // color: #a8a8b0;
                            font-weight: bold;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;                          
                            // font-size: 100px;
                        }
                    }

                    .book-rating-section {
                       display: flex;
                       justify-content: flex-start;
                       align-items: center;
                        width: 100%;
                        margin-top: 10px;

                        .star-container {
                            @include flexRowStartCenter;
                            color: yellow;

                            .rating-icon,.icon {
                                color: #d7d716;
                                font-size: 19px;
                                width: auto;
                                height: 30px;
                            }

                            h6 {
                                margin-left: 10px;
                                color: #a8a8b0;
                                font-family: 'Roboto', sans-serif;
                                font-weight: bold;
                                font-size: 18px;
                            }
                        }

                        .views {
                            margin-left: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &-icon{
                                // color: #fff;
                                color: #b3b3bc;
                                font-size: 18px;
                                height: 30px;
                            }
                            &-count{
                                color: #a8a8b0;
                                margin-left: 5px;
                            }

                            p {
                                width: auto;
                                color: #c4c4c4;
                            }
                        }
                    }

                    .book-summary-section {
                        @include flexRowSbStart;
                        margin: 15px 0px;

                        h6 {
                            color: #a8a8b0;
                            font-family: 'Roboto', sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                        }

                        .summary {
                            width: 70%;
                            // background-color: red;
                            text-align: left;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                            p {
                                color: $--muted;
                            }
                        }
                    }

                    .book-author-section {
                        @include flexRowSbStart;
                        // background-color: red;
                        width: 100%;
                        margin: 15px 0px;

                        h6 {
                            color: #a8a8b0;
                            font-family: 'Roboto', sans-serif;
                            font-weight: bold;
                            font-size: 18px;
                        }

                        .summary {
                            width: 70%;
                            // background-color: red;
                            text-align: left;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            p {
                                color: $--muted;
                            }
                        }
                        
                    }
                    .request-message{
                        color: #0f8154;
                        background: #f2f2f2;
                        padding: 4px;
                    }

                    .book-button-container {
                        @include flexRowStartCenter;
                        margin-top: 25px;
                        .downloadButton{
                            width: 220px;
                            padding: 15px 0;
                            background-color: $--primary;
                            color: black;
                            font-size: 18px;
                            text-align: center;
                            border-style: none;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 20px;
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 5px;
                            cursor: pointer;
                            margin-right: 10px;
                            @include tablet{
                                width: 190px;

                            }
                            @media  (min-width:768px ) and ( max-width:769px)   {
                              width:170px;

        }
                            @include mobile{
                                margin-bottom: 15px;
                                width: 100%;
                               
                            }

                        }

                        .requestButton{
                            width: 220px;
                            padding: 15px 0;
                            color: black;
                            font-size: 18px;
                            background-color: #fff;
                            text-align: center;
                            border-style: none;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 20px;
                            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            margin-right: 10px;
                            .checkmark{
                                height: 20px;
                                margin-left: 3px;
                                color: $--primary;
                            }
                            @include tablet{
                                width: 190px;

                            }
                            @media  (min-width:768px ) and ( max-width:769px)   {
                                width:170px;
  
          }
                            @include mobile{
                                margin-bottom: 15px;
                                width: 100%;
                               
                            }

                        }
                    
                        @include mobile{
                            display: block;
                            width: 100%;
                        }

                        // background-color: red;
                        .right-button {
                            margin-left: 15px;
                        }
                    }
                }
            }

        }
   
        &-book-explore-section {
            display: flex;
            justify-content: space-between;
            
            // background-color: green;

            width: 100%;

            .book-review-section {
                width: 50%;
               padding: 30px;
            }

            .related-book-section {
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: center;
                padding: 20px 0px;
                width: 50%;

                // position: relative;
                // background-color: blue;
                border-left: 0.2px solid #fdf4f4;

                .book-slider {
                    // background-color: red;
                    width: 80%;
                }
            }
        }
    }


    // display: flex;
}

@include tablet {
    .book-detail-page {
        height: 100%;
        width: 100%;

        &-wrapper {

            // background-color: red;
            &-book-detail-section {
                
                &-container {
                    width: 100%;

                    img {
                        width: 250px;
                        margin-right: 25px
                    }
                }

            }

            &-book-explore-section {
                @include flexColCenter;
                // background-color: green;
                width: 100%;

                .book-review-section {
                    width: 100%;
                    padding: 25px;
                }

                .related-book-section {
                    width: 100%;
                }
            }
        }
    }

}

@include mobile {
    .book-detail-page {
        height: 100%;
        width: 100%;

        &-wrapper {

            // background-color: red;
            &-book-detail-section {
                @include flexColCenter;
                // max-height: none;

                &-container {
                    @include flexColCenter;
                    // background-color: red;
                    width: 100%;

                    // padding: 0px;
                    img {
                        width: 250px;
                        margin: 0px;
                    }

                    &-content {
                        width: 90%;
                        // background-color: white;
                         margin-top: 45px
                    }
                }

            }

            &-book-explore-section {
                @include flexColCenter;
                // background-color: green;
                width: 100%;

                .book-review-section {
                    width: 100%;
                    padding: 25px;
                }

                .related-book-section {
                    width: 100%;
                }
            }
        }
    }

}
.BookDetails-ratingContainer{
    display: flex!important;
}
.exclamationIcon{
    margin-right: 10px;
    font-size: 20px;
}

