// @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');
@import '../../../../App.scss';


.newsWhatsTrendingToday-wrapper-swiperContainer{
    // width: 91%;
}
.newsWhatsTrendingToday-wrapper{
    width: 100%;
   padding: 50px 30px;
    &-head1{
       
        font-size: 30px;
        font-family: 'Nunito';
        font-weight: 800;
        color: #0f0e0e;
    }
    &-head2{
       
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'Nunito';
        font-weight: 500;
        color: #0f0e0e;
        margin: 10px 0;
    }
    &-slide{
        display: flex;
        flex-direction: column;
        width: 100%;
        &-img{
            position: relative;
            height:180px;
            width: 100%;
            border-radius: 5px;
            background-color: rgba(0,0,0,.2);
            background-blend-mode: overlay;
            background-size: cover;
            border: none;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 10px 0 20px;
            &-icon{
               position: absolute;
               right: 0;
               top: 0;
               margin: 15px 15px 0 0;
            }
        }
        &-img:hover{
            background-color: rgba(0,0,0,.3);
        }
        &-img:hover:after{
            transition: .25s linear;
            border-width: 15px;
        }

        &-img:after{
                transition:.25s linear;
                position: absolute;
                content: "";
                bottom: 0;
                right: 0;
                background:white;
                border-width: 0px;
                border-style: solid;
                display: block;
                border-color: $--primary #fff #fff  $--primary;
        }
        &-tag{
            
        }
        &-head{
            margin: 10px 0;
            font-size: 18px;
            font-family: 'Nunito';
            font-weight: 800;
            padding-right: 30px;
            color: #0f0e0e;
            transition: .25s ease;
            cursor: pointer;
            // a{
            //     text-decoration: none;
            //     color: #0f0e0e;
            //     transition: .25s ease;
            //     cursor: pointer;
            // }
            &:hover{
                color:$--primary ;
                transition: .25s ease;
            }
        }
    }
}