@import "../../../../App.scss";

.subcatagories{
    @include flexColCenterStart;
    width: 100%;
    border: 1px solid #eee;
    // margin-top: 5px;
   
    // padding: 0px 50px;
    // background-color: red;
    // @include mobile{
    //     border: 1px solid #eee;
    //     margin-top: 5px;
    // }
    .title{
        padding: 0px 0px;
       border-bottom: 3px solid $--primary;
    }
   &-items{
       text-align: left;
       width: 100%;
      display: flex;
      align-items: center;
      justify-self: center;
      padding: 0 10px;
    //    background-color: red;
    @include mobile{
        padding: 10px;
    }
       &-topic{
        font-family: 'Nunito',sans-serif;
        font-size: 15px;
        font-weight: 400;
        // color: #333;
        
        //    font-weight: 500;
           color: #989797;
        //    font-weight: normal;
        //    font-size: 14px;
           line-height: 1.7;
           padding: 9px 10px;
           cursor: pointer;
        //    height: 100%;
           transition: .2s ease;
           width: 100%;
          
           @include mobile{
               padding: 0 10px;
               font-size: 18px;
           }
           &.activeS{
               color: #174e39;
               font-weight: 600;
               font-size: 15.4px;
               @include mobile{
                   font-size: 18px;
               }

           }
           
          &:hover{
            transform: scale(1.09, 1.1);
            box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
            background-color: #fff;
            border-radius: 5px;
            transition: .2s ease;
        
          }
           
       }  
   }
  
 
   
}
.sub-icon{
    height: 8px;
    width: 8px;
    margin-right: 5px;
    color: #808080;
}