@import "../../../../App.scss";

.subcatagories{
    @include flexColCenterStart;
    width: 100%;
   
    // padding: 0px 50px;
    // background-color: red;
    @include mobile{
        border: 1px solid #eee;
        margin-top: 5px;
    }
    .title{
        padding: 0px 0px;
       border-bottom: 3px solid $--primary;
    }
   &-items{
       text-align: left;
       width: 100%;
    //    height: 47px;
       position: relative;
       margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-self: center;
    //    background-color: red;
    @include mobile{
        padding: 10px;
    }
       &-topic{
        font-family: 'Rubik',sans-serif;
        font-size: 18px;
        font-weight: 400;
        // color: #333;
        
        //    font-weight: 500;
           color: #808080;
        //    font-weight: normal;
        //    font-size: 14px;
           line-height: 1.7;
           cursor: pointer;
           height: 100%;
           transition: .2s ease;
          
           @include mobile{
               padding: 0 10px;
           }
           &.activeS{
               color: #1D264F;
               font-size: 18px;

           }
           
          &:hover{
              font-size: 18px;
              transition: .2s ease;
        
          }
           
       }  
   }
  
 
   
}
.sub-icon{
    height: 8px;
    width: 8px;
    margin-right: 5px;
    color: #808080;
}