@import '../../../../components/global/placeholder/placeholder';
@import '../../../../App.scss';

.FollowersPlaceholder-wrapper{
    &-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f8f7fc;
        padding: 15px;
        border-radius: 5px;
        margin: 15px 0;
        .profile{
            border-radius: 10px;
            height: 70px;
            width:40% ;
            background-color: #f6f7f8;

        }
        .description{
            width: 50%;
            .username{
                height: 10px;
                width: 50%;
                margin: 10px 0;
                background-color: #f6f7f8;
                


            }
            .email{
                height: 8px;
                width: 80%;
                margin: 10px 0;
                background-color: #f6f7f8;

            }
        }
    }
}