@import '../../../App.scss';
.accordionGroup{
        width: 100%;
       padding: 30px;
        @include tablet{
            padding: 15px;
        }
        @include mobile{
            padding: 0;
        }
        &-head{
            margin: 20px 0;
            font-size: 30px;
        }

    }
    .accordion-loading-wrapper{
        margin-top: 125px;
        margin-bottom: 125px;
    }
