@import "../../../App.scss";
@import '../../../App.scss';


.headingText{
    font-weight: 600;
   
    font-family: 'Nunito';
    color: #0f0e0e;
    &.heading1 {
        font-size: 2.5rem;
    }

    &.heading2 {
        font-size: 2rem;
    }

    &.heading3 {
        font-size: 1.65rem;
    }

    &.heading4 {
        font-size: 1.5rem;
    }

    &.heading5 {
        font-size: 1.25rem;
        text-transform: capitalize;
        padding: 10px;
    }

    &.heading6 {
        font-family: 'Nunito',sans-serif;
        font-size: 16px;
        font-weight: 600;
        @include tablet{
            font-size: 14px;
        }
      
    }
    &.heading7 {
        font-size: .7rem;
    }
}

.activeLinksCategoryColor{
    transition: .4s ease;
}