@import '../../../App.scss';

.input-enable-edit{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid lightgray;
}
input:focus{
    outline: none;
}

.additionalDetails-button{
    display: flex;
    margin-top: 18px;
    width: 30%;
    border-radius: 5px;
    background-color: $--primary;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    p{
        color: white;
    }
}
.additionalDetails-button:hover{
    cursor: pointer;
}

.additionalDetails-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    border: 1px solid #ebecf0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;

    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
       

        

        &-edit {
            align-items: flex-end;
            border: 1px solid #ebecf0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
           &-icon{
               
               
            font-size: 20px;
            font-weight: 500;
            color: $--primary;
           }

           
        }
        &-edit:hover {
            cursor: pointer;
        }
    }

    &-bottom {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-details {
            display: flex;
            align-items: center;
            margin-top: 10px;

            @include tablet {
                width: 45%;
                word-break: break-all;
            }

            &-left {

                .icon {
                    margin-right: 15px;
                    font-size: 25px;
                    color: lightgray;

                }

            }

        
        &-right{
            display:flex ;
            flex-direction: column;
            &-desc{
                p{
                    font-weight: 500;
                }
            }
            &-label{
                margin-bottom: 5px;
           

           

            
        }
    }
}
    }
}