@import '../../App.scss';
.aboutUs-container{
    width: 100%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    @include mobile{
        padding: 20px;
    }
    &-wrapper{
        width: 90%;
        padding: 100px 120px;
        border-radius: 10px;


        background-color: white;
        @include tablet{
            padding: 40px 60px;

        }
        @include mobile{
            width: 98%;
            padding: 20px;
        }
        &-main{
            width:100%;
            padding: 50px 0px;
            p{
                font-family: 'Rubik';
                font-size: 15px;
                line-height: 1.75;
                color: #333;
                font-weight: 400;
            }
        }
    }
}

.aboutus-ul{
    li{
        margin-left: 40px;
        padding: 5px 0;
        font-family: 'Rubik';
        font-size: 15px;
        line-height: 1.75;
        color: #333;
        font-weight: 400;
    }
}
.aboutus-h2{
    font-size: 30px;
    font-family: 'Nunito';
    font-weight: 700;
    margin: 10px 0;
    @include tablet{
        font-size: 26px;
    }
    @include mobile{
        font-size: 26px;
    }
}
.aboutus-h3{
    font-size: 28px;
    font-family: 'Nunito';
    font-weight: 700;
    margin: 10px 0;
}