@import "../../App.scss";
.accordion-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    .accordion-main{
        width: 100%;
        position: relative;
        &-content{
            background-color: #F7F7F7;
            border-radius: 5px;
            margin: 0 0 15px 0;
            position: relative;
            line-height: 32px;
           
          
        // transition: background-color .15s ease-in-out;

            
            
            &-heading{
                cursor: pointer;
                padding: .75rem 1.25rem;
                width: fit-content;
                position: relative;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                border: none;
                outline: none;
                width: 100%;
                align-items: center;
                    cursor: pointer;
                    color:#2D506E;
                    overflow: hidden;

                    & h2{
                        font-size: 22px;
                        font-weight: 600;
                        @include tablet{
                            line-height: 28px;
                        }
                        @include mobile{
                            line-height: 28px;
                            padding-right: 30px;
                        }
                        
                    }
                
                &-active{
                    & h2{
                        color: #1478C8;
                      

                    }
                   
                    
                }

            }
            &-paragraph{
                overflow: hidden;
                transition: max-height .4s ease;
                padding: 0 20px;
                  p{
                    position: relative;
                    font-family: sans-serif;
                    color: #525161;    
                    font-size: 18px;
                    line-height: 28px;
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    
                  }
               
                
            }
            
        }
    }
}

.accordion__icon {
    margin-left: auto;
    transition: transform .4s ease;
  }

  .active {
    background-color: #ccc;
  }
  .rotate {
    transform: rotate(90deg);
    transition:transform .4 ease;
  }