@import "../../../../App.scss";

.loading{
    color: gray;
}
.slide-detail-page-loading-wrapper {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.slider-container {
    @include flexColSbCenter;
    width: 100%;
    height: 92vh;
    background-color: #212529;
    // @include mobile{
    //    margin-bottom: 60px;
    // }

    &-top {
        @include flexRowCenter;
        background-color: #141414;
        height: 70px;
        width: 100%;
    }

    &-center {
        @include flexRowCenter;
        // background-color: blue;
        height: 80%;
        width: 100%;
        position: relative;
    }

    &-navigator {
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 88%;
        overflow-y: scroll;
        overflow-x: hidden;

        .slider-container-navigator-image-container {
            width: 260px;
            border-radius: 5px
        }

        .slider-container-navigator-image-container:hover {
            cursor: pointer;
        }

        .slider-container-navigator-image-container-active {
            width: 260px;
            border-radius: 5px;
            border: solid 4px goldenrod
        }

        .slider-container-navigator-image-container-active:hover {
            cursor: pointer
        }
    }

    &-bottom {
        @include flexRowCenter;
        background-color: #141414;
        padding: 20px 0;
        width: 100%;

        @include mobile {
            padding: 10px 0;
        }
.userInfo{
    h6{
        color: $--primary;
    }
}
        h6 {
            font-weight: bold;
            // font-size: 1rem;
            font-family: "Roboto", sans-serif;
            color: white;
            text-transform: capitalize;
        }

        &-container {
            @include flexRowSbCenter;
            width: 65%;
            // background-color: red;
            height: 100%;

            @include mobile {
                flex-direction: column
            }

            .left {

                @include flexRowCenter;

                @include mobile {
                    margin-bottom: 10px;
                    margin-right: 10px;
                }

                p {
                    font-weight: normal;
                    font-family: "Roboto", sans-serif;
                    color: white;
                }

                .userInfo:hover {
                    cursor: pointer;
                }

                .userInfo {
                    @include flexRowCenter;
                    margin-right: 25px;

                    //   @include mobile{
                    //       display: none;
                    //   }
                    .profilePic {
                        width: 45px;
                        border-radius: 100%;
                        margin-right: 15px;
                    }
                    .profilePicloader{
                        height: 45px;
                        width: 45px;
                        border-radius: 100%;
                        margin-right: 15px;
                        background-color: $--primary;
                    }

                }
            }

            .right {
                @include flexRowCenter;

                .icon {
                    font-size: 25px;
                    color: white;
                    margin-right: 5px;
                    height: 25px;

                    @include mobile {
                        font-size: 18px;
                        height: 20px;
                    }
                }
                
                .downloadIcon {
                    font-size: 25px;
                    color: white;
                    margin-right: 5px;
                    height:25px;
                }

                .downloadIcon:hover {
                    cursor: pointer;
                }

                .category:hover {
                    cursor: pointer;
                }

                .category {
                    @include flexRowCenter;

                    @include mobile {
                        h6 {
                            font-size: 13px;
                        }
                    }

                    &-icon {
                        color: #fff;
                        height: 25px;
                        @include mobile{
                            height: 20px;
                        }
                    }
                }

                .star:hover {
                    cursor: pointer;
                }

                .star {
                    @include flexRowCenter;
                    margin-left: 20px;
                    .icon{
                        height: 30px;
                        @include mobile{
                            height: 20px;
                        }
                    }
                }

                .view {
                    @include flexRowCenter;
                    margin: 0px 25px;
                }

            }
        }
    }

    &-wrapper {
        width: 60%;
        // background-color: blue;
        height: 85%;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        margin-right: 50px;
        -webkit-tap-highlight-color: transparent;

        .slider-container-wrapper-image-container {
            @include flexColCenter;
            background-color: #331b1b;
            // background-color: red;
            height: 100%;
           
            width: 100%;
            position: relative;
            &-loading{
                // background-image: linear-gradient(to right, #f7f4f4 0%, #f9f7f7 20%, #f7f4f4 40%,);
                background-image: linear-gradient(to right, #3c1c1c 0%, #3c1f1f 20%, #3c1c1c 40%,);
                animation-fill-mode: forwards;
                //background-repeat: no-repeat;
                //transition: all 3000ms linear;
                animation-duration: 2.5s;
              animation-fill-mode: forwards;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
              animation-name: placeHolderShimmer;
              background-size: 600px 100px;
                @include mobile{

                    min-height: 256px;

                }
                @include tablet{
                    min-height: 300px;
                }
            }

            .slide-image {
                object-fit: contain;
                // height: 100%;
                height: 93%;
                width: 100%;
                // background-color: blue
            }

            
        }



        &-full-screen-button-container {
            @include flexRowSbCenter;
            height: 80px;
            width: 100%;
            position: absolute;
            top: 47%;

            .left {
                @include flexRowCenter;
                background-color: rgba(0, 0, 0, 0.5);
                height: 100%;
                width: 50px;

                &:hover {
                    .icon {
                        color: white;
                    }
                }

                .icon {
                    color: lightgray;
                    font-size: 25px;
                }

                .icon:hover {
                    color: white;
                }
            }

            .right {
                @include flexRowCenter;
                background-color: rgba(0, 0, 0, 0.5);
                height: 100%;
                width: 50px;

                &:hover {
                    .icon {
                        color: white;

                    }
                }

                .icon {
                    color: lightgray;
                    font-size: 25px;
                    height: 25px;
                }

                .icon:hover {
                    color: white;
                }
            }
        }

        &-bottom-container {
            @include flexRowSbCenter;
            // padding: 0px 25px;
            transform: translateY(50px) translateX(0.3px);
            transition: .3s transform ease-in;
            // background-color: red;
            height: 50px;
            width: 100%;
            position: absolute;
            bottom: 0;

            .left {
                display: flex;
                .icon {
                    color: lightgray;
                    height: 25px;
                    @include mobile{
                        height: 20px;
                    }
                    
                }

                .icon:hover {
                    color: white;
                }
            }

            .right {
                @include flexRowCenter;
                .icon {
                    color: lightgray;
                    font-size: 25px;
                    margin: 0px 10px;
                    height: 25px;
                    @include mobile{
                        height: 20px;
                    }
                }

                .icon:hover {
                    color: white;
                }
                .clip-button-container {
                    @include flexColCenter;
                    border-radius: 3px;
                    .icon{
                        color: lightgray;
                        font-size: 25px;
                        margin-right:0px;
                        padding-right:0px;
                    }
                    p{
                        color: white;
                        font-size: 13px;
                    }
                    .tooltips-tip-top{
                        visibility: hidden;
                    }
                    .tooltips-tipS-top{
                        position: absolute;
                        top:-22px;
                        visibility: visible;
                        background-color: black;
                        padding:5px 10px;
                        border-radius: 2px;
                    }
                }
            }
        }

        .progress-indicator-container {
            width: 100%;
            height: 5px;
            position: absolute;
            bottom: 0;
            background-color: gray;

            .slide-position-image {
                position: absolute;
                // background-color: red;
                border-radius: 5px;
                // padding: 5px;
                // left:90%;
                // right: 0;
                margin: 0px 5px;
                z-index: 2;
                overflow: hidden;
                bottom: 15px;
                object-fit: fill;
                height: 0px;
                width: 150px;

                .image {
                    height: 100%;
                    width: 100%;
                }
            }

            &-active {
                background-color: aliceblue;
                width: 10%;
                height: 5px;
            }
        }

        .progress-indicator-container:hover {
            height: 10px;

            .slide-position-image {
                height: 100px;
            }

            .progress-indicator-container-active {
                height: 10px;
            }
        }
    }



    &-wrapper:hover {
        cursor: pointer;
    }

    &-wrapper:hover>.slider-container-wrapper-bottom-container {
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateY(0px);
        transition: .3s transform ease-in;
    }



}

@include tablet {
    .slider-container {
        height: 100%;

        &-wrapper {
            width: 90%;
            background-color: #212529;
            height: 70%;

            &-bottom-container {
                transform: translateY(0px);
            }
        }

        &-center {
            @include flexColCenter;
            background-color: #212529;
            height: 100%;
            width: 100%;
        }

        &-navigator {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            // background-color: red;
            width: 90%;
            height: 18%;
           
            overflow-y: hidden;
            overflow-x: scroll;

            .slider-container-navigator-image-container {
                width: 125px;
                margin-right: 10px;
            }


            .slider-container-navigator-image-container-active {
                width: 125px;
                margin-right: 10px;
                // min-height: 100px;
            }


        }

        &-wrapper {
            margin-right: 0px;
        }


        &-bottom {
            &-container {
                width: 95%;
            }
        }
    }
}


@include mobile {
    .slider-container {
        // height: 75vh;
        height: 100%;

        &-wrapper {
            width: 90%;
            height: 58%;

            &-bottom-container {
                transform: translateY(0px);
            }
        }

        &-center {
            @include flexColCenter;
            // background-color: blue;
            height: 100%;
            width: 100%;
        }

        &-navigator {
            // padding: 0px 10px;
            // margin-top: 25px;
            margin-top: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            // background-color: red;
            width: 90%;
            height: 25%;
            overflow-y: hidden;
            overflow-x: scroll;

            .slider-container-navigator-image-container {
                width: 125px;
                margin-right: 10px;
            }


            .slider-container-navigator-image-container-active {
                width: 125px;
                margin-right: 10px;
            }


        }

        &-wrapper {
            margin-right: 0px;
        }


        &-bottom {
            &-container {
                width: 95%;
            }
        }
    }
}

.imgSlider-top-head {
    color: white;
    text-align: center;
    padding: 15px;
    text-transform: capitalize;
}
.recomendedSlides-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    &:hover{
        opacity: 0;
    }
    .item{
        width: 45%;

    }

  

}

.desktop-ClickContainerForSlideImages-right {

    position: absolute;
    height: 92%;
    width: 20%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 8;

    &:hover {
        transition: .3s ease-in;
        background: linear-gradient(270deg, rgba(8, 25, 43, 0), rgba(8, 25, 43, .3));

        .desktop-ClickContainerForSlideImages-right-icon {
            display: block;
        }

    }

    &-icon {
        display: none;
        top: 50%;
        position: absolute;
        height: 80px;
        color: #fff;
        transition: .3s ease-in;

    }

    @include mobile {
        display: none;
    }
}

.desktop-ClickContainerForSlideImages-left {
    position: absolute;
    height: 92%;
    width: 20%;
    background-color: transparent;
    top: 0;
    right: 0;
    z-index: 8;

    &:hover {
        transition: .3s ease-in;
        background: linear-gradient(90deg, rgba(8, 25, 43, 0), rgba(8, 25, 43, .3));

        .desktop-ClickContainerForSlideImages-left-icon {
            display: block;
        }
    }

    &-icon {
        display: none;
        top: 50%;
        position: absolute;
        height: 80px;
        color: #fff;
        right: 0;
        transition: .3s ease-in;

    }

    @include mobile {
        display: none;
    }

}

.imgSliderMobileView-btn-left {
    display: none;

    @include mobile {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        left: 5px;
        padding: 5px;
        border-radius: 50%;




    }
}

.imgSliderMobileView-btn-right {
    display: none;

    @include mobile {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        right: 5px;
        padding: 5px;
        border-radius: 50%;
    }
}

.imgSliderMobileView-btn-icon {
    height: 16px;
}

.slideDetailPage-editAndDeleteContainer {
    display: flex;
    
    &-editLink {
        text-decoration: none;

        &-icon {
            font-size: 22px;
            color: white;
            margin: 0 10px;
            cursor: pointer;
            height: 25px;
        }
    }

    &-deleteIcon {
        font-size: 22px;
        color: white;
        cursor: pointer;
        height: 25px;

    }

}

.slideDetailPage-views {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    &-icon {
        color: #fff;
        font-size: 25px;
        margin-bottom: 1px;
        height: 30px;

        @include mobile {
            font-size: 18px;
            height: 20px;
        }
    }

    &-count {
        color: #fff;

        margin-left: 5px;

    }
}

.slideDetails-followButton {
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background-color: $--primary;
        color: #fff;
    }
}

.slideDetail-imgSlider-bottom-share-icon {
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;

    @include mobile {
        font-size: 18px;
        height: 20px;
    }
}

@keyframes placeHolderShimmer {
    0%{ background-position: -600px 0; }
    100%{ background-position: 600px 0; }
  }