@import '../../../../App.scss';

.swiper-container {
    padding: 0 20px;
    .swiper-wrapper {
        .swiper-slide {
            overflow: visible;
            width: 100%;;
        }
    }

    .swiper-button-prevvv {
        background-color: white;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        content: '';
        top: 43%;
left:0px;        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
        z-index: 8;
        cursor: pointer;
        transition: .25 ease-in;

        @include mobile {
            top: 40%;
            left:2px;  
            height: 40px;
            width: 40px;
        }

    }

    .swiper-button-prevvv:hover {
        border: 1px solid #12D288;
        color: #12D288;
    }

    .swiper-button-nexttt {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        content: '';
        top: 43%;
        right: 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, .3);
        z-index: 8;
        cursor: pointer;
        transition: .25 ease-in;

        @include mobile {

            top: 40%;
right:2px;  
            height: 40px;
            width: 40px;
            margin-left: 23px;
        }
    }

    .swiper-button-nexttt:hover {
        border: 1px solid #12D288;
        color: #12D288;
    }

}


.slideTrending-container {
    width: 100%;
    // padding: 0 27px;

    // @include tablet {
    //     padding-top: 140px;
    // }

    // @media(max-width:992px) {
    //     padding-top: 120px;
    // }
    &-head{
        padding:0 30px;
    }

 

    &-swiperContainer {
    //    padding: 60px 0 20px 0;
    //     width: 100%;

    //     @include mobile {
    //         padding: 20px 0 100px 0;
    //     }


    //     &-slide {
    //         width: 90%;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
          
    //     }
    // }
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 20px 0;
    @include mobile{
        padding:0;
        justify-content: center;
        align-items: center;
    }

    &-slide {
        width: 0 0 10px 0%;
        padding: 25px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include mobile{
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
        .suspenseLoading{
            padding: 200px 0;
        }
    }
}
    .slide-card{
        @include mobile{
            width: 323px;
        }
        @media screen and (max-width: 376px) and (min-width: 366px) {
            width: 305px;
       
    }
    @media screen and (max-width: 366px) and (min-width: 200px) {
        width: 290px;
   
}
}
}
.slide-trending-loading-wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
}
.arrow-pointed{
    height: 30px;
}